.header {
    @extend %flexcenter;
    padding: 16px 16px;
    @extend %shadow;
    &__title {
        font-weight: 300;
        @extend %fonttitle ;
    }
    &__arrow{
        position: absolute;
        top: 31px;
        left: 34px;
    }
}