@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://use.fontawesome.com/releases/v5.7.1/css/all.css");
.order, .menu__icon, .menu__checked, .location, .header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu__price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.order__btn, .menu__container, .card, .manuel__step, .description__btn, .header {
  box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.25);
}

.order__btn, .menu__description, .menu__subtitle, .menu__title, .card, .manuel, .description__btn, .description__text, .description__title, .location__text, .footer__element {
  font-family: "Roboto", sans-serif;
}

.lunch__title, .footer__title, .header__title {
  font-family: "Shrikhand";
}

.menu__content, .menu__description, .menu__subtitle {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.lunch__heart, .card__heart {
  font-size: 25px;
  display: flex;
  position: relative;
  width: 40px;
  height: 32px;
  cursor: pointer;
}
.lunch__heart :nth-child(2), .card__heart :nth-child(2) {
  color: transparent;
  transition: all 350ms;
}
.lunch__heart :nth-child(2):hover, .card__heart :nth-child(2):hover {
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  transform: scale(1.2);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -o-background-clip: text;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes disappearance {
  0% {
    opacity: 1;
    z-index: 10;
  }
  100% {
    opacity: 0;
    z-index: -10;
    /*pour mettre le spinner au dessous de contenu de page */
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
html, body, p, h1, h3, h4 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.spinner-container {
  position: fixed;
  z-index: 10;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  animation-name: disappearance;
  animation-duration: 0.01;
  animation-delay: 2s;
  animation-fill-mode: both;
}

.spinner {
  position: absolute;
  top: 45%;
  left: 42%;
  width: 60px;
  height: 60px;
  border: 6px solid rgba(147, 86, 220, 0.2);
  border-radius: 50%;
}
@media screen and (min-width: 1024px) {
  .spinner {
    top: 50%;
    left: 50%;
  }
}
.spinner::before {
  /*ajouter un content vide pour agisse comme un sélecteur , on peut ajouter un style css*/
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  width: 100%;
  height: 100%;
  border-top: 6px solid #9356DC;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-radius: 50%;
  animation: rotate 1s infinite linear;
}

.header {
  padding: 16px 16px;
}
.header__title {
  font-weight: 300;
}
.header__arrow {
  position: absolute;
  top: 31px;
  left: 34px;
}

.footer {
  background-color: #353535;
  color: #fff;
  padding-bottom: 26px;
}
.footer__title {
  padding: 26px 0 16px 22px;
}
.footer__container {
  display: flex;
  flex-direction: column;
  padding-left: 22px;
}
.footer__list {
  margin: 0;
  padding: 0;
}
.footer__icon {
  font-size: 12px;
  width: 16px;
  margin-right: 8px;
}
.footer__element {
  padding-bottom: 5px;
}
.footer__link:hover {
  text-decoration: underline;
}

/*1 ere section*/
.location {
  background-color: #EAEAEA;
  padding: 16px;
}
.location__icon {
  margin-right: 16px;
}

/* 2eme section*/
.description {
  background-color: #F6F6F6;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 64px;
}
.description__title {
  padding-bottom: 20px;
}
.description__text {
  padding-bottom: 38px;
}
.description__btn {
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  color: white;
  padding: 12px 24px;
  border-radius: 100px;
}
.description__btn:hover {
  opacity: 0.75;
}

/* 3eme section*/
.manuel {
  padding: 8px 20px;
}
@media screen and (min-width: 1024px) {
  .manuel__container {
    display: flex;
    flex-direction: row;
  }
}
.manuel__step {
  background-color: #F6F6F6;
  display: flex;
  flex: 1;
  height: 75px;
  margin: 20px 32px;
  align-items: center;
  border-radius: 25px;
}
.manuel__step:hover {
  background-color: rgba(147, 86, 220, 0.1);
}
.manuel__step:hover .manuel__icon {
  color: #9356DC;
}
.manuel__item {
  background-color: #9356DC;
  border-radius: 50%;
  width: 16px;
  text-align: center;
  color: white;
  padding: 5px 8px;
  margin-left: -14px;
}
.manuel__icon {
  width: 48px;
  text-align: center;
  color: #818181;
}

/*4 eme section*/
.restaurant {
  background-color: #F6F6F6;
  width: 100%;
}
.restaurant__title {
  padding: 15px;
}
@media screen and (min-width: 768px) {
  .restaurant__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.card {
  border-radius: 20px;
  width: 92%;
  margin-bottom: 27px;
  margin-left: 15px;
  background-color: #fff;
  position: relative;
}
@media screen and (min-width: 768px) {
  .card {
    width: 45%;
  }
}
.card__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.card__tagged {
  border: 1px solid #99E2D0;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #1b6150;
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 4px;
}
.card__footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.header__img {
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .header__img {
    height: 300px;
  }
}

.main {
  background-color: #F6F6F6;
}
.main__img {
  width: 100%;
  object-fit: cover;
}
@media screen and (min-width: 768px) {
  .main__img {
    height: 300px;
  }
}
.main__img--adjust {
  height: 270px;
}

.lunch {
  background-color: #F6F6F6;
  border-radius: 50px 50px 0 0;
  position: relative;
  top: -53px;
}
.lunch__header {
  display: flex;
  justify-content: space-between;
}
.lunch__container {
  padding-bottom: 33px;
}
@media screen and (min-width: 1024px) {
  .lunch__container {
    display: flex;
    flex-direction: row;
    padding: 0 25px 0 18px;
  }
}
.lunch__title {
  padding: 0 0 1px 35px;
}
.lunch__heart {
  top: 26px;
  right: 32px;
}

.menu {
  flex: 1;
  max-width: 100%;
  padding: 0 16px;
  overflow: hidden;
}
.menu__container {
  display: flex;
  overflow: hidden;
  background-color: #fff;
  padding: 16px;
  border-radius: 13px;
  margin: 16px 0;
  width: 92%;
  cursor: pointer;
  animation: appear 0.6s;
  animation-fill-mode: both;
  opacity: 0;
}
.menu__container:hover .menu__checked {
  margin-right: -1rem;
}
.menu__title {
  position: relative;
  text-transform: uppercase;
  font-weight: normal;
  padding: 12px 0;
}
.menu__title::after {
  position: absolute;
  content: "";
  width: 48px;
  height: 4px;
  left: 1px;
  bottom: 4px;
  background-color: #99E2D0;
}
.menu__price {
  font-weight: bold;
}
.menu__content {
  flex: 1;
}
.menu__checked {
  background-color: #99E2D0;
  margin: -16px -80px -16px 16px;
  width: 64px;
  transition-duration: 0.5s;
}
.menu__icon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: #fff;
  border-radius: 50%;
  transform: rotate(360deg);
  transition-duration: 0.5s;
}
.menu:hover .menu__icon {
  transform: rotate(0);
}
.menu__fa-check {
  color: #99E2D0;
}

.order {
  padding-bottom: 24px;
}
.order__btn {
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  color: white;
  padding: 12px 24px;
  border-radius: 100px;
}
.order__btn:hover {
  opacity: 0.75;
}
@media screen and (min-width: 1024px) {
  .order {
    margin-top: 16px;
  }
}

.delay-1 {
  animation-delay: 0.1s;
}

.delay-2 {
  animation-delay: 0.2s;
}

.delay-3 {
  animation-delay: 0.3s;
}

.delay-4 {
  animation-delay: 0.4s;
}

/*# sourceMappingURL=style.css.map */
