/* La partie location */
.location{
    background-color: $bgcolor-primary;
    @extend %flexcenter;
    padding: 16px;
    &__text{
        @extend %fonttext;
    }
    &__icon{
        margin-right: 16px;
    }
}
/* 1er section */
.description{
    background-color: $bgcolor-secondary;
    text-align: center;
    padding-top: 32px;
    padding-bottom: 64px;
    &__title {
        @extend %fonttext;
        padding-bottom: 20px;
    }
    &__text {
        @extend %fonttext;
        padding-bottom: 38px;
    }
    &__btn {
       @include button;
    }
}
/* 2eme section */
.manuel{
    padding: 8px 20px;
    @extend %fonttext;
    &__container{
        @include desktop{
            display: flex;
            flex-direction: row;
        }
    }
    &__step
    {
        background-color: $bgcolor-secondary;
        display: flex;
        flex: 1;
        height: 75px;
        margin:20px 32px;
        align-items: center;
        border-radius: 25px ;
        @extend %shadow;
        &:hover{
            background-color: rgba($color:$color-primary, $alpha: 0.1);
            .manuel__icon{
                color:$color-primary;
            }
        }
    }
    &__item{
        background-color: $color-primary;
        border-radius: 50%;
        width: 16px ;
        text-align: center;
        color: white;
        padding: 5px 8px;
        margin-left: -14px;
    } 
    &__icon{
        width: 48px;
        text-align: center;
        color: $bgcolor-tertiary;
    }
}
/* 3eme section */
.restaurant{
    background-color: $bgcolor-secondary;
    width: 100%;
    &__title{
        @extend %fonttext;
        padding: 15px;
    }
    &__container{
        @include tablet{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
    }
}
.card{
    border-radius: 20px;
    @extend %fonttext;
    width: 92%;  
    @include tablet{
        width: 45%;
    }
    @extend %shadow;
    margin-bottom: 27px;
    margin-left: 15px;
    background-color: #fff;
    position: relative;
    &__img{
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 20px 20px 0 0 ;
    }
    &__tagged{
        border: 1px solid $color-tertiary;
        border-radius: 2px;
        background-color: $color-tertiary;
        color: darken($color: $color-tertiary, $amount: 50%);
        position: absolute;
        top: 20px;
        right: 20px;
        padding: 4px;
    }
    &__footer{
        display: flex;
        justify-content: space-between;
        padding:16px;
    }
    &__heart{
        @extend %heart;
    }
}
