.location{
    background-color: $bgcolor-primary;
    @extend %flexcenter;
    padding: 16px;
    &__text{
        font-family: $font-txt;
    }
    &__icon{
        margin-right: 16px;
    }
}
.description{
    background-color: $bgcolor-secondary;
    text-align: center;
    padding: 32px;
    &__title {
        font-family: $font-txt;
    }
    &__text {
        font-family: $font-txt;
        margin-bottom: 32px;
    }
    &__btn {
       @include button;
    }
}