%flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
%shadow{
    box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.25);
}
%fonttext{
    font-family: $font-txt;
}
%fonttitle{
    font-family: $font-title;
}
%heart{
    font-size: 25px;
    display: flex;
    position: relative;
    width: 40px;
    height: 32px;
    cursor: pointer;
    & :nth-child(2) {
        color:transparent;
        transition: all 350ms;
    }
    & :nth-child(2):hover {
        background: linear-gradient(to right bottom, $color-secondary, $color-primary );
        transform: scale(1.2);
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -o-background-clip: text;
    }
}