%flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}
%flexend {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
%shadow{
    box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.25);
}
%fonttext{
    font-family: $font-txt;
}
%fonttitle{
    font-family: $font-title;
}
%ellipsis {
    margin: 0;
    white-space: nowrap;
    /* pour remplacer le contenu textuel qui dépasse par une ellipse '...' */
    text-overflow: ellipsis;
    overflow: hidden;
}
%heart{
    font-size: 25px;
    display: flex;
    position: relative;
    width: 40px;
    height: 32px;
    cursor: pointer;
    & :nth-child(2) {
        color:transparent;
        transition: all 350ms linear;
    }
    & :nth-child(2):hover {
        /* créer un fond qui est dégradé entre deux couleurs secondary et primary */
        background: linear-gradient(to right bottom, $color-secondary, $color-primary );
        transform: scale(1.2);
        background-clip: text; /* Pour ajuster le fond de la couleur à l'intérieur de l'icon au moment du survol */
    }
}