// Pour l'animation du spinner
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

// Pour disparaitre le spinner
@keyframes disappear {
    0% {
        opacity: 1;
        z-index: 10;
    }

    100% {
        opacity: 0;
        z-index: -10; // Pour mettre le spinner au dessous de contenu de page
    }
}

// Animation pour apparaitre les plats des restaurants
@keyframes appear {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}