@mixin button {
    // Créer un fond dégradé entre deux couleurs secondary et primary
    background: linear-gradient(to right bottom, $color-secondary, $color-primary );
    color: white;
    padding: 12px 24px;
    border-radius: 100px;
    transition: all 500ms linear;
    cursor: pointer;
    @extend %fonttext;
    @extend %shadow;
    &:hover{
        opacity:0.75;
        box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.5);
    }
}
@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content; // Passer un bloc de contenu à la mixin tablet 
    }
}
@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content; // Passer un bloc de contenu à la mixin desktop
    }
}