@mixin button {
    background: linear-gradient(to right bottom, $color-secondary, $color-primary );
    color: white;
    padding: 12px 24px;
    border-radius: 100px;
    @extend %fonttext;
    @extend %shadow;
    &:hover{
        opacity:0.75 ;
    }
}
@mixin tablet {
    @media screen and (min-width: map-get($breakpoints, tablet)) {
        @content;
    }
}
@mixin desktop {
    @media screen and (min-width: map-get($breakpoints, desktop)) {
        @content;
    }
}