$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$bgcolor-primary: #EAEAEA;
$bgcolor-secondary: #F6F6F6;
$bgcolor-tertiary: #818181;
$font-txt: 'Roboto', sans-serif;
$font-title: 'Shrikhand';
$breakpoints: (
    tablet: 768px,
    desktop: 1024px
);